<form action="#" class="sign-up-form">
	<p><input placeholder="Email" type="text" value="alexsmith@gmail.com"></p>
	<p><input placeholder="First Name" type="text" value="Alex"></p>
	<p><input placeholder="Last Name" type="text" value="Smith"></p>
	<p><input placeholder="Password" type="password" value="••••••••••"></p>
	<p class="wholesale-input disabled"><input placeholder="Permission" type="text"
			value="123qwer.pdf"><button class="btn">Upload</button>
	</p>
	<h6 class="wholesale-heading disabled">Please attach wholesale purchase permission</h6>
	<button class="btn last-button">Create my account</button>
</form>