<div class="form-block">
	<div class="form-block__titles">
		<h2 class="form-block__title">@@title</h2>
		@@if (context.subtitle) {<h3 class="form-block__subtitle">@@subtitle</h3>}
	</div>
	<div class="form-block__items">



		<div class="form-block__line">
			<label for="firstName">First Name</label>
			<input id="firstName" type="text" value="John">
			<p class="not-validated">Required</p>
		</div>
		<div class="form-block__line">
			<label for="lastName">Last Name</label>
			<input id="lastName" type="text" value="Smith">
			<p class="not-validated">Only letters can be entered</p>
		</div>
		<div class="form-block__line">
			<label for="address1">Address Line 1</label>
			<input id="address1" type="text" value="Hilton st. 123">
			<p class="not-validated">The shipping address should be at least 5 characters long</p>
		</div>
		<div class="form-block__line">
			<label for="address2">Address Line 2</label>
			<input id="address2" type="text">
		</div>
		<div class="form-block__line">
			<label for="city">City</label>
			<input id="city" type="text" value="New York">
			<p class="not-validated">Please enter a valid city name</p>
		</div>
		<div class="form-block__double-line">
			<div class="form-block__line">
				<label for="state">State / Province</label>
				<div class="spoiler">
					<div class="spoiler__preview">
						<input id="state" type="text" value="NY">
						<p class="not-validated">Please select State/Province</p>
					</div>
					<div class="spoiler__wrapper">
						<div class="spoiler__body">
							<ul class="spoiler__list">
								<li>
									<p>California</p>
								</li>
								<li>
									<p>Texas</p>
								</li>
								<li>
									<p>Virginia</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="form-block__line">
				<label for="zip">ZIP / Postal Code</label>
				<input id="zip" type="tel" value="213 822">
				<p class="not-validated">You can write a maximum of 10 characters</p>
			</div>
		</div>

		<div class="form-block__line">
			<label for="email">Email</label>
			<input id="email" type="text" value="johnsmith@gmail.com">
			<p class="not-validated">Please enter a valid email address</p>
		</div>
		<div class="form-block__line">
			<label for="phone">Phone Number</label>
			<input id="phone" type="tel" value="8 029 876 56 21">
			<p class="not-validated">Please input numbers </p>
		</div>
		<div class="form-block__line form-block__extra-line">
			<label for="permission">Wholesale purchase permission</label>
			<div class="extra"><input id="permission" type="text" value="123qwer.pdf">
				<p>Update</p>
			</div>
		</div>
	</div>
</div>