<div class="cart-item @@if (context.modify) {cart-item_@@modify}">
	<div class="cart-item__left @@if (context.background) {cart-item__left_@@background}">
		<div class='cart-item__image image hv '>
			<picture>
				<source type='image/webp' srcset='@img/gallery/@@image.webp'>
				<img src='@img/gallery/@@image.png' alt='product image'>
			</picture>
		</div>
	</div>
	<div class="cart-item__body item-body">
		<div class="item-body__top">
			<h4 class="item-body__title">@@title</h4>
			<div class="item-body__close-icon">
				<div class="item-body__icon-wrapper"><span></span></div>
			</div>
		</div>
		<div class="item-body__center">
			<div class="item-body__buttons">
				<span></span>
				<p class="item-body__num">1</p>
				<span></span>
			</div>
			<div class="item-body__price @@if (context.discountPrice) {item-body__price_discount}">
				<p class="item-body__summ item-body__summ_full-price">@@fullPrice</p>
				<p class="item-body__summ item-body__summ_discount-price">@@discountPrice</p>
			</div>
		</div>
		<div class="item-body__bottom">
			<div class="item-body__content">
				<div class="item-body__ok-icon">
					<svg width="12" height="9" viewBox="0 0 12 9" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path d="M1.5 4L4.5 7L10.5 1" stroke="white" stroke-width="2" />
					</svg>
				</div>
				<p class="item-body__text">Deliver every</p>
				<p class="item-body__text item-body__text_b"><span>30</span><i
						class="ic-arrow-down"></i></p>
				<p class="item-body__text">days</p>
			</div>
		</div>
	</div>
</div>