<div class="cart">
	<div class="cart__wrapper">
		<div class="cart__body">
			<div class="cart__top">
				<div class="cart__title">Cart</div>
				<div class="cart__close-icon">
					<div class="icon-wrapper"><span></span></div>
				</div>
			</div>
			<div class="cart__fix">
				<div class="cart__items">
					<!-- 'modify': 'empty', -->
					@@include('./cart-item.html', {
					'image': '23',
					'background': 'pink',
					'title': 'Ortho Molecular Products CereVive Capsules',
					'fullPrice': '$125.00',
					'discountPrice': '$84.00',
					})
					@@include('./cart-item.html', {
					'image': '02',
					'background': 'purple',
					'title': 'Standard Process Thymus PMG 90 Tablets',
					'fullPrice': '$84.00',
					})
					@@include('./cart-item.html', {
					'image': '23',
					'background': 'pink',
					'title': 'Ortho Molecular Products CereVive Capsules',
					'fullPrice': '$125.00',
					'discountPrice': '$84.00',
					})
					@@include('./cart-item.html', {
					'image': '21',
					'background': 'purple',
					'title': 'Ortho Molecular Products CereVive Capsules',
					'fullPrice': '$125.00',
					'discountPrice': '$84.00',
					})
					@@include('./cart-item.html', {
					'image': '22',
					'background': 'pink',
					'title': 'Ortho Molecular Products CereVive Capsules',
					'fullPrice': '$125.00',
					'discountPrice': '$84.00',
					})
					<!-- 'disabled': 'disabled' -->
				</div>
			</div>
			<div class="cart__empty">
				<p class="cart__empty-text">Your cart is empty</p>
				<svg width="200" height="238" viewBox="0 0 200 238" fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M100 36.5031C85.1095 36.5031 72.9927 48.6221 72.9927 63.5153V100.748H36.4963V63.5153C36.4963 28.4724 64.9635 0 100 0C135.036 0 163.504 28.4724 163.504 63.5153V100.748H127.007V63.5153C127.007 48.6221 114.891 36.5031 100 36.5031Z"
						fill="#FAF8F6" />
					<path
						d="M127.007 100.748H72.9927V137.982C72.9927 152.875 85.1095 164.994 100 164.994C114.891 164.994 127.007 152.875 127.007 137.982V100.748Z"
						fill="#FAF8F6" />
					<path
						d="M163.504 100.748H200V137.982C200 193.174 155.182 238 100 238C44.8175 238 0 193.174 0 137.982V100.748H36.4963V137.982C36.4963 173.025 64.9635 201.497 100 201.497C135.036 201.497 163.504 173.025 163.504 137.982V100.748Z"
						fill="#FAF8F6" />
				</svg>

			</div>
			<div class="cart__bottom">
				<div class="cart__bottom__btn btn">
					<p>Check Out</p>
					<span>•</span>
					<p>$156.58</p>
				</div>
				<p class="cart__disabled-text">Minimum order amount is $700</p>

			</div>

		</div>
	</div>

</div>