<section class="quiz">
	<div class="quiz__body">
		<div class="quiz__content">
			<div class="quiz__header">
				<a class="quiz__logo" href="index.html"><i class="ic-logo"><span
							class="path1"></span><span class="path2"></span><span
							class="path3"></span></i></a>
				<p class="quiz__pages">1/9</p>
			</div>
			<div class="quiz__steps">
				<div class="quiz__step quiz__step_1">
					<div class="quiz__left">
						<h3 class="quiz__title">What’s your first name?</h3>
					</div>
					<div class="quiz__right">
						<p class="decor-circle decor-circle_r"></p>
						<svg width="406" height="307" viewBox="0 0 406 307" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path d="M377 1.1993e-05C377 85.0519 307.996 154 222.875 154L183 154"
								stroke="#FFCA78" stroke-width="58" />
							<path d="M29 307C29 222.5 97.9481 154 183 154" stroke="#FFCA78"
								stroke-width="58" />
						</svg>
						<div>
							<p><label for="q-inp1">First Name</label></p>
							<div class="quiz__line">
								<div>
									<input type="text" id="q-inp1" value="Alex" />
								</div>
								<div class="quiz__circle">
									<i class="ic-arrow-next"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="quiz__step quiz__step_2">
					<div class="quiz__left">
						<h3 class="quiz__title">Do you smoke?</h3>
					</div>
					<div class="quiz__right">
						<p class="decor-circle decor-circle_o"></p>
						<svg width="160" height="160" viewBox="0 0 160 160" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path d="M131 2.75517e-05C131 72.3493 72.3493 131 -2.55994e-05 131"
								stroke="#F6906E" stroke-width="58" />
						</svg>
						<div class="quiz__question quiz__question_column">
							<p>Yes</p>
							<p>No</p>
						</div>
					</div>
				</div>
				<div class="quiz__step quiz__step_3">
					<div class="quiz__left">
						<h3 class="quiz__title">What is your eating habits?</h3>
					</div>
					<div class="quiz__right">
						<p class="decor-circle decor-circle_r"></p>
						<svg width="210" height="264" viewBox="0 0 210 264" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								d="M3.0146e-05 29C99.9636 29 181 109.589 181 209C181 308.411 99.9635 389 -1.3262e-06 389"
								stroke="#FFCA78" stroke-width="58" />
						</svg>
						<div class="quiz__question quiz__question_row">
							<p>Vegan diet</p>
							<p>Vegetarian diet</p>
							<p class="padding30">
								My diet is generally healthy and includes animal
								protein, fish and veggies
							</p>
							<p>My diet includes fast food and soft drinks</p>
						</div>
					</div>
				</div>
				<div class="quiz__step quiz__step_4">
					<div class="quiz__left">
						<h3 class="quiz__title">
							How frequently do you consume alcoholic beverages?
						</h3>
					</div>
					<div class="quiz__right">
						<p class="decor-circle decor-circle_o"></p>
						<svg width="210" height="275" viewBox="0 0 210 275" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								d="M210 246C110.037 246 29 165.411 29 66C29 -33.4113 110.036 -114 210 -114"
								stroke="#F6906E" stroke-width="58" />
						</svg>
						<div class="quiz__question quiz__question_row">
							<p>≤ 3 times per week</p>
							<p>4 - 7 times per week</p>
							<p>7+ times per week</p>
						</div>
					</div>
				</div>
				<div class="quiz__step quiz__step_5">
					<div class="quiz__left">
						<h3 class="quiz__title">
							How frequently do you have cold/flu symptoms?
						</h3>
					</div>
					<div class="quiz__right">
						<p class="decor-circle decor-circle_r"></p>
						<svg width="200" height="200" viewBox="0 0 200 200" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path d="M171 1.36275e-05C171 94.4407 94.4407 171 -1.85116e-05 171"
								stroke="#FFCA78" stroke-width="58" />
						</svg>
						<div class="quiz__question quiz__question_row">
							<p>≤ 2 per year</p>
							<p>3 - 5 times per year</p>
							<p>5+ times per week</p>
						</div>
					</div>
				</div>
				<div class="quiz__step quiz__step_6">
					<div class="quiz__left">
						<h3 class="quiz__title">Describe your stress level</h3>
					</div>
					<div class="quiz__right">
						<p class="decor-circle decor-circle_o"></p>
						<svg width="160" height="160" viewBox="0 0 160 160" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path d="M160 131C87.6507 131 29 72.3493 29 -2.55994e-05" stroke="#F6906E"
								stroke-width="58" />
						</svg>
						<div class="quiz__question quiz__question_row">
							<p>I feel calm and relaxed most of the time</p>
							<p>I get nerevous from time to time</p>
							<p>I’m under a lot of stress most of the time</p>
						</div>
					</div>
				</div>
				<div class="quiz__step quiz__step_7">
					<div class="quiz__left">
						<h3 class="quiz__title">
							Have you ever been diagnosted with high blood glucose
							level?
						</h3>
					</div>
					<div class="quiz__right">
						<p class="decor-circle decor-circle_r"></p>
						<svg width="212" height="210" viewBox="0 0 212 210" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								d="M389 -1.70623e-05C389 99.9635 308.411 181 209 181C109.589 181 29 99.9635 29 -1.3262e-06"
								stroke="#FFCA78" stroke-width="58" />
						</svg>
						<div class="quiz__question quiz__question_column">
							<p>Yes</p>
							<p>No</p>
						</div>
					</div>
				</div>
				<div class="quiz__step quiz__step_8">
					<div class="quiz__left">
						<h3 class="quiz__title">Tell us what you want to focus on</h3>
					</div>
					<div class="quiz__right">
						<p class="decor-circle decor-circle_o"></p>
						<svg width="171" height="171" viewBox="0 0 171 171" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path d="M142 9.8533e-06C142 78.4244 78.4244 142 -1.79237e-05 142"
								stroke="#F6906E" stroke-width="58" />
						</svg>
						<div class="quiz__question quiz__question_grid">
							<div>
								<p>Weight managment</p>
							</div>
							<div>
								<p>Stress relief</p>
							</div>
							<div>
								<p>Immune boost</p>
							</div>
							<div>
								<p>Need to solve a sprcific problem</p>
							</div>
							<div>
								<p>I need a bassic kit for a daily intake</p>
							</div>
							<div>
								<p>All in one</p>
							</div>
						</div>
					</div>
				</div>
				<div class="quiz__step quiz__step_9">
					<div class="quiz__left">
						<h3 class="quiz__title">What’s your email address?</h3>
					</div>
					<div class="quiz__right">
						<p class="decor-circle decor-circle_r"></p>
						<svg width="406" height="307" viewBox="0 0 406 307" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path d="M377 1.1993e-05C377 85.0519 307.996 154 222.875 154L183 154"
								stroke="#FFCA78" stroke-width="58" />
							<path d="M29 307C29 222.5 97.9481 154 183 154" stroke="#FFCA78"
								stroke-width="58" />
						</svg>
						<div>
							<p><label for="quiz-email">Email</label></p>
							<div class="quiz__line">
								<div><input id="quiz-email" type="text" value="Alex" /></div>
								<div class="quiz__circle">
									<i class="ic-arrow-next"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="quiz__footer">
				<div>
					<i class="ic-arrow-back"></i>
					<p class="quiz__back">Back</p>
				</div>
			</div>
		</div>
	</div>
</section>