.form-block {
   // .not-validated {
   //    // display: none;
   //    color: #ff7d4e;
   //    position: absolute;
   //    top: calc(100% + 6px);
   //    left: 2px;
   //    width: 100%;
   //    font-family: $ff2;
   //    @include fl(10, 13.62);
   //    @media (min-width: 769px) {
   //       @include fl(12, 16.34);
   //    }
   // }
   // .form-block__title
   &__title {
      font-weight: 500;
      @include fl(20, 24.12);
      margin-bottom: 31px;
      @media (min-width: 1000px) {
         margin-bottom: 42px;
      }
      @media (min-width: 1441px) {
         @include fl(36, 43.42);
      }
   }

   // .form-block__subtitle
   &__subtitle {
   }

   // .form-block__items
   &__items {
      display: grid;
      row-gap: 26px;
      @media (min-width: 550px) {
         grid-template-columns: repeat(2, minmax(240px, 1fr));
         column-gap: 32px;
      }
      @media (min-width: 1000px) {
         grid-template-columns: repeat(2, minmax(240px, 444px));
         row-gap: 30px;
      }
   }
   // .form-block__line
   &__line {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      label {
         font-family: $ff2;
         @include fl(14, 19.07);
         margin-bottom: 5px;
      }

      input {
         width: 100%;
      }
   }
   &__extra-line {
      display: none;
      transform: translate(1px, 0);
   }
   .spoiler {
      background-color: #faf8f6;
      border-radius: rem(12);

      &__preview {
         cursor: pointer;
         input {
            pointer-events: none;
         }
         position: relative;
         &:after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 24px;
            width: 15px;
            height: 9px;
            transform: translate(0, -50%);
            background: url("@img/icons/arrow-down.svg") 0 0 / cover no-repeat;
            transition: all 0.3s ease;
         }
      }
      &__wrapper {
         height: 0;
         overflow: hidden;
         transition: all 0.5s ease;
      }
      &__body {
         padding-left: 24px;
         padding-right: 24px;
         padding-bottom: 15px;
      }
      &__list {
         border-radius: 12px;
         background-color: $inputBg;
         font-family: $ff2;
         display: flex;
         flex-direction: column;

         @include fl(14, 18);
         li {
            cursor: pointer;
            &:not(:last-child) {
               margin-bottom: 10px;
            }
            p {
               display: inline-block;
               position: relative;
               transition: all 0.3s ease;
               &:hover {
                  &:after {
                     width: 100%;
                  }
               }
               &:after {
                  transition: all 0.3s ease;
                  content: "";
                  position: absolute;
                  top: 100%;
                  left: 0;
                  width: 0;
                  height: 1px;
                  transform: translate(0, 0);
                  background: rgba(0, 0, 0, 0.2);
               }
            }
         }
      }
      &.opened {
         .spoiler_preview {
            &:after {
               transform: translate(0, -50%) rotate(180deg);
            }
         }
      }
   }

   // .form-block__double-line
   &__double-line {
      display: flex;
      column-gap: 16px;
      @media (min-width: 769px) {
         column-gap: 32px;
      }
   }
}
