.product-left {
   &_purple {
      background-color: #9c91e0;
   }
   &_blue {
      background-color: #91caf2;
   }
   &_red {
      background-color: #e8939d;
   }
   &_gold {
      color: $goldLabel;
   }
   &_green {
      background-color: #a5b3ff;
   }
   padding-bottom: percent(386, 320);
   position: relative;
   svg {
      display: none;
   }
   @media (min-width: 375px) {
      padding-bottom: percent(436, 375);
   }
   @media (min-width: 1023px) {
      padding-bottom: 0;
      position: sticky;
      position: relative;
      top: 0px;
      left: 0;
      svg {
         display: block;
         position: absolute;
         top: 32px;
         right: 0;
      }
   }
   &__image {
      position: absolute;
      top: percent(100, 386);
      left: 0;
      padding-bottom: percent(251, 320);
      @media (min-width: 375px) {
         top: percent(105, 436);
      }
      @media (min-width: 567px) {
         top: 100px;
      }
      @media (min-width: 767px) {
         padding-bottom: percent(479, 900);
      }
      @media (min-width: 1023px) {
         top: percent(225, 1144);
         top: 225px;
      }
   }
   .hidden-heading {
      height: 0;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
   }
}
