.sign-up-form {
	p{
		background:$inputBg;
		border-radius: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		padding-right: 10px;
		input {
			width: 100%;
		}
		@media (min-width: 569px) {
			margin-bottom: 16px;
		}
		margin-bottom: 10px;
		&:last-of-type {
			transform: translate(0, 1px);
		}
		@media (min-width: 569px) {
			max-width: 444px;
			margin: 0 auto 16px;
		}
		.btn {
			flex: 0 0 104px;
			max-height: 36px;
			border-radius: 12px;
			width: 104px;
			margin-top: 0;
			font-family: $ff2;
			@include fl(12, 16.34);
		}
		&:last-of-type.disabled {
			display: none;
		}
		&:last-of-type {
			@media (min-width: 1441px) {
				input {@include fl(16, 21.79);}
				transform: translate(1px, -3px);
				
			}
		}
	}
	h6 {
		font-family: $ff2;
		@include fl(13, 17.7);
		// margin-bottom: 20px;
		opacity: 0.3;
		text-align: center;
		@media (min-width: 769px) {
			display: none;
		}
		&.disabled {
			display: none;		
		}
	}
	.btn {
		margin-top: 19px;
		&.disabled {
			background-color: #E1DEDA;
			border-color: #E1DEDA;
		}
	}
}
body.hide-content {
	.sign-up-form {
		p:not(:last-of-type){
			display: none;
		}
		p:last-of-type{
			input{
				@include fl(14, 19.07);
			}
		}
	}
}