// Подключение локальных шрифтов
@include ff("Effra", "Bold");
@include ff("Effra", "Medium");
@include ff("Effra", "Regular");
@include ff("OpenSans", "Bold");
@include ff("OpenSans", "SemiBold");
@include ff("OpenSans", "Regular");

//Icon fonts
@font-face {
   font-family: "icons";
   src: url("../fonts/icons.eot?me1g9a");
   src: url("../fonts/icons.eot?me1g9a#iefix") format("embedded-opentype"),
      url("../fonts/icons.ttf?me1g9a") format("truetype"),
      url("../fonts/icons.woff?me1g9a") format("woff"),
      url("../fonts/icons.svg?me1g9a#icons") format("svg");
   font-weight: normal;
   font-style: normal;
   font-display: block;
}

i {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: "icons" !important;
   // speak: never;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.ic-arrow-next:before {
   content: "\e900";
}
.ic-arrow-down:before {
   content: "\e903";
}
.ic-arrow-orange-down:before {
   content: "\e905";
   color: #ff7d4e;
}
.ic-arrow-up:before {
   content: "\e906";
}
.ic-apple:before {
   content: "\e901";
}
.ic-arrow-back:before {
   content: "\e902";
}
.ic-cart:before {
   content: "\e9b3";
}
.ic-facebook:before {
   content: "\e9b5";
   color: #1778f2;
}
.ic-facebook-grey:before {
   content: "\e9b6";
   color: #d4d3d1;
}
.ic-google .path1:before {
   content: "\e9b7";
   color: rgb(67, 133, 246);
}
.ic-google .path2:before {
   content: "\e9b8";
   margin-left: -1em;
   color: rgb(52, 168, 85);
}
.ic-google .path3:before {
   content: "\e9b9";
   margin-left: -1em;
   color: rgb(251, 189, 6);
}
.ic-google .path4:before {
   content: "\e9ba";
   margin-left: -1em;
   color: rgb(234, 66, 53);
}
.ic-instagram-grey:before {
   content: "\e9bb";
   color: #d4d3d1;
}
.ic-logo .path1:before {
   content: "\e9bc";
   color: rgb(255, 125, 78);
}
.ic-logo .path2:before {
   content: "\e9bd";
   margin-left: -1em;
   color: rgb(114, 92, 240);
}
.ic-logo .path3:before {
   content: "\e9be";
   margin-left: -1em;
   color: rgb(253, 198, 114);
}
.ic-profile:before {
   content: "\e9c0";
}
.ic-star:before {
   content: "\e9c1";
   color: #ffc329;
}
.ic-home_01:before {
   content: "\e9c2";
   color: #7e70d8;
}
.ic-home_02:before {
   content: "\e9c3";
   color: #ffbe5a;
}
.ic-home_03:before {
   content: "\e9c4";
   color: #ff7d4e;
}
.ic-home_04:before {
   content: "\e9c5";
   color: #ffbe5a;
}
.ic-home_05 .path1:before {
   content: "\e9c6";
   color: rgb(255, 190, 90);
}
.ic-home_05 .path2:before {
   content: "\e9c7";
   margin-left: -1em;
   color: rgb(255, 190, 90);
}
.ic-home_05 .path3:before {
   content: "\e9c8";
   margin-left: -1em;
   color: rgb(255, 190, 90);
}
.ic-home_05 .path4:before {
   content: "\e9c9";
   margin-left: -1em;
   color: rgb(255, 125, 78);
}
.ic-home_05 .path5:before {
   content: "\e9ca";
   margin-left: -1em;
   color: rgb(255, 125, 78);
}
.ic-home_05 .path6:before {
   content: "\e9cb";
   margin-left: -1em;
   color: rgb(255, 125, 78);
}
.ic-home_05 .path7:before {
   content: "\e9cc";
   margin-left: -1em;
   color: rgb(255, 125, 78);
}
.ic-home_05 .path8:before {
   content: "\e9cd";
   margin-left: -1em;
   color: rgb(255, 190, 90);
}
.ic-home_06:before {
   content: "\e9ce";
   color: #ff7d4e;
}
