@function em($px: 16) {
   $result: calc(($px / 16) * 1em);
   @return $result;
}
@function rem($px: 16) {
   $result: calc(($px / 16) * 1rem);
   @return $result;
}
@function percent($first, $second) {
   $result: calc($first / $second * 100%);
   @return $result;
}
