input {
   padding: 15px 24px 16px 24px;
   border-radius: 12px;
   background-color: $inputBg;
   min-height: 56px;
   font-family: $ff2;
   @include fl(18, 24.51);
   &::placeholder {
      font-family: $ff2;
      @include fl(16, 24.51);
      color: #000000;
      opacity: 0.3;
   }
}
// [class*=__title] {
// 	font-weight: 500;
// 	@include fl(24, 28.94);
// 	span {
// 		color: $orangeSpan;
// 	}
// 	@media (min-width: 1441px) {
// 		@include fl(56, 67.54);
//  	}
// }
// [class*=__subtitle] {
// 	@include fl(14, 16.88);
// 	font-weight: 500;
// 	@media (min-width: 1441px) {
// 	@include fl(30, 36.18);
// 	}
// }
// [class*=__link] {
// 	@include fl(14, 16.88);
// 	font-weight: 500;
// 	color: $orangeSpan;
// 	@media (min-width: 1441px) {
// 		@include fl(20, 24.12);
// 	}
// }
// .card__label {
// 	font-family: $ff2;
// 	@include fl(12, 16.34);
// 	font-weight: 600;
// 	opacity: 0.7;
// 	@media (min-width: 1441px) {
// 		@include fl(14, 19.07);
// 	}
// &.purpleLabel {
//    color: $purpleLabel;
// }
// &.mintLabel {
//    color: $mintLabel;
// }
// }
// .card__sublabel {//profile
// 	font-family: $ff2;
// 	@include fl(14, 19.07);
// 	opacity: 0.7;
// 	@media (min-width: 1441px) {
// 		@include fl(16, 21.79);
// 	}
// }
// .card__title {
// 	@include fl(18, 21.71);
// 	font-weight: 500;
// 	@media (min-width: 1441px) {
// 		@include fl(24, 28.94);
// 	}
// }
// .card__text {
// 	font-family: $ff2;
// 	@include fl(14, 19.07);
// 	opacity: 0.7;
// 	@media (min-width: 1441px) {
// 		@include fl(16, 26.15);
// 	}
// }
// .card__summ { //personal pack
// 	font-family: $ff2;
// 	font-weight: 600;
// 	@include fl(16, 21.79);
// 	@media (min-width: 1441px) {
// 		@include fl(20, 27.24);
// 	}
// }
// =========================================================================
// Home
// =========================================================================

[class*="card__text"] {
   @media (min-width: 1441px) {
   }
}
