/*Шрифты*/
$ff1: "Effra";
$ff2: "OpenSans";

//Цвета шрифтов
$orange: #ff7d4e;
$orangeSpan: #f27e58;
$textContentColor: #808080;
$purpleLabel: #6b5ebb;
$mintLabel: #6bb0a4;
$pinkLabel: #9448a0;
$blueLabel: #5f9dca;
$orangeLabel: #e29964;
$greenLabel: #5e73bb;
$redLabel: #e6463b;
$goldLabel: #e6ac3b;
//Состояния
$orangeBgColorHover: #fd6b36;
$orangeBgColorActive: #ff6128;

//input
$inputBg: #faf8f6;
