body.pass-recovery {
	@media (min-width: 769px) {
		background-color: #FAF8F6;
	}
	.wrapper {
		display: block;
		@media (min-width: 1441px) {
			display: flex;
		}
	}
	.hero {
		padding-top: 51px;
		// padding-bottom: 38px;
		@media (min-width: 569px) {
			padding-top: calc(80 / 569 * 100%);
			padding-bottom: calc(20 / 569 * 100%);
			padding-left: calc(50 / 569 * 100%);
			padding-right: calc(50 / 569 * 100%);
		}
		@media (min-width: 769px) {
			padding-top: calc(160 / 768 * 100%);
			padding-bottom: calc(20 / 768 * 100%);
			padding-left: calc(50 / 768 * 100%);
			padding-right: calc(50 / 768 * 100%);
		}
		@media (min-width: 1025px) {
			padding-top: calc(120 / 1025 * 100%);
			padding-bottom: calc(20 / 1025 * 100%);
			padding-left: calc(110 / 1025 * 100%);
			padding-right: calc(110 / 1025 * 100%);
		}
		@media (min-width: 1441px) {
			padding-top: calc(289 / 1800 * 100%);
			// padding-bottom: calc(40 / 1800 * 100%);
			padding-bottom: 0px;
			padding-left: calc(440 / 1800 * 100%);
			padding-right: calc(440 / 1800 * 100%);
		}
		&__container {
			@media (min-width: 569px) {
				padding: 0;
			}
		}
		&__body {
			@media (min-width: 769px) {
				background-color: #fff;
				padding-top: calc(20 / 500 * 100%);
				padding-bottom: calc(20 / 500 * 100%);
				padding-left: calc(20 / 500 * 100%);
				padding-right: calc(20 / 500 * 100%);
			}
			@media (min-width: 1025px) {
				background-color: #fff;
				padding-top: calc(30 / 600 * 100%);
				padding-bottom: calc(30 / 600 * 100%);
				padding-left: calc(60 / 600 * 100%);
				padding-right: calc(60 / 600 * 100%);
			}
			@media (min-width: 1441px) {
				background-color: #fff;
				padding-top: calc(60 / 960 * 100%);
				padding-bottom: calc(60 / 960 * 100%);
				padding-left: calc(119 / 960 * 100%);
				padding-right: calc(119 / 960 * 100%);
			}
		}
		&__title {
			// font-weight: 500;
			@include fl(24, 28.94);
			text-align: center;
			margin-bottom: 9px;
			@media (min-width: 769px) {
				@include fl(26, 31.36);
				margin-bottom: 11px;
			}
		}
		&__text {
			font-family: $ff2;
			@include fl(14, 19.07);
			opacity: 1;
			font-weight: 400;
			text-align: center;
			margin-bottom: 21px;
			@media (min-width: 769px) {
				@include fl(16, 28);
			}
		}
		&__form {
			p {
				background:$inputBg;
				border-radius: 12px;
				margin-bottom: 20px;
				@media (min-width: 569px) {
					max-width: 444px;
					margin: 0 auto 20px;
				}
			}
			.btn {
				@media (min-width: 420px) {
					max-width: 270px;
					margin: 0 auto;
				}
			}
		}
	}
}