// Text styles
body.lock {
   .personal-pack__decor {
      z-index: 0 !important;
   }
}
body.personal-pack {
   .header {
      padding-top: 2px;
   }

   main {
      position: relative;
      // z-index: 9;
      // pointer-events: none;
      @media (min-width: 769px) {
         // padding-left: percent(142, 1800);
         // padding-right: percent(142, 1800);
         padding-bottom: percent(98, 1800);
      }
   }
   .personal-pack__decor {
      position: absolute;
      width: 100%;
      max-width: 100vw;
      z-index: 11;
      overflow: hidden;
      height: 100vh;
      pointer-events: none;
      svg {
         position: absolute;
         &:first-child {
            top: 56px;
            left: percent(192, 320);
            @media (min-width: 375px) {
               left: percent(247, 375);
            }
            @media (min-width: 769px) {
               width: 90px;
               height: 90px;
               top: 36px;
               left: percent(990, 1800);
            }
            @media (min-width: 1000px) {
               width: 120px;
               height: 120px;
            }

            @media (min-width: 1400px) {
               width: 145px;
               height: 145px;
            }

            @media (min-width: 1600px) {
               width: 158px;
               height: 158px;
            }
         }
         &:nth-child(2) {
            top: 193px;
            right: 0;
            @media (min-width: 769px) {
               display: none;
               top: 36px;
               left: 990px;
            }
         }
         &:last-child {
            display: none;
            @media (min-width: 769px) {
               display: block;
               right: -49px;
               top: 263px;
               width: calc(280 * 0.6px);
               height: calc(141 * 0.6px);
            }
            @media (min-width: 1000px) {
               width: calc(280 * 0.6px);
               height: calc(141 * 0.6px);
            }
            @media (min-width: 1400px) {
               width: calc(280 * 0.8px);
               height: calc(141 * 0.8px);
            }
            @media (min-width: 1600px) {
               width: 279px;
               height: 141px;
            }
         }
      }
   }
   .hero {
      &.hidden {
         @media (max-width: 400px) {
            height: calc(100vh - 96px);
            max-height: calc(100vh - 96px);
            overflow: auto;
         }
      }
      padding-top: 120px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 60px;
      @media (min-width: 769px) {
         padding-top: rem(180);
         padding-bottom: rem(85);
         padding-left: percent(203, 1800);
         padding-right: percent(203, 1800);
      }
      // .hero__title

      &__title {
         font-weight: 500;
         @include fl(24, 28.94);
         max-width: 172px;
         margin-bottom: 30px;
         @media (min-width: 375px) {
            max-width: 227px;
         }
         @media (min-width: 468px) {
            @include fl(32, 39);

            max-width: 80%;
         }
         @media (min-width: 760px) {
            @include fl(36, 44);
            max-width: 682px;
         }
         @media (min-width: 1000px) {
            @include fl(42, 49);
            margin-bottom: rem(50);
         }
         @media (min-width: 1400px) {
            @include fl(50, 60.3);
            margin-bottom: 60px;
         }
      }

      // .hero__subtitle

      &__subtitle {
         margin-bottom: 19px;
         font-weight: 500;
         @include fl(20, 24.12);
         @media (min-width: 760px) {
            @include fl(22, 26);
         }
         @media (min-width: 1000px) {
            @include fl(24, 28);
         }
         @media (min-width: 1400px) {
            margin-bottom: 25px;
            @include fl(26, 31.36);
         }
      }

      // .hero__text

      &__text {
         font-family: $ff2;
         @include fl(14, 24);
         @media (min-width: 468px) {
            max-width: 80%;
         }
         @media (min-width: 1000px) {
            @include fl(16, 26);
            max-width: 918px;
         }
         @media (min-width: 1400px) {
            @include fl(18, 28);
         }
      }

      // .hero__button
   }
   .cards {
      position: relative;
      svg {
         display: block;
         position: absolute;
         top: 0;
         left: percent(225, 320);
         transform: translate(0, -50%);
         @media (min-width: 375px) {
            left: percent(280, 375);
         }
         @media (min-width: 1000px) {
            width: 80px;
            height: 80px;
            left: percent(1196, 1800);
         }
         @media (min-width: 1400px) {
            width: 100px;
            height: 100px;
         }
         @media (min-width: 1600px) {
            width: 122px;
            height: 122px;
         }
      }
      @media (max-width: 768px) {
         background-color: #faf8f6;
      }
      &.hidden {
         svg {
            display: none;
         }
         background-color: #fff;
         padding: 0;
         .cards__title,
         .cards__body {
            display: none;
         }
      }
      padding-top: 62px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 57px;
      @media (min-width: 769px) {
         padding-right: percent(142, 1800);
         padding-left: percent(142, 1800);
         padding-top: 0;
         padding-bottom: 0;
      }
      &__fix {
         background-color: #faf8f6;
         @media (min-width: 769px) {
            border-radius: rem(16);
            padding-top: rem(62);
            padding-left: rem(60);
            padding-right: rem(60);
            padding-bottom: rem(50);
         }
      }
      &__body {
         display: grid;
         grid-template-columns: 1fr;
         row-gap: 14px;
         display: grid;
         grid-template-columns: 1fr;
         grid-auto-rows: 1fr;
         @media (min-width: 375px) {
            grid-template-columns: 1fr 1fr;
            column-gap: 14px;
         }
         @media (min-width: 767px) {
            gap: 25px;
         }
         @media (min-width: 999px) {
            padding: 0;
            max-width: 1396px;
            margin: 0 auto;
            column-gap: 32px;
            row-gap: 32px;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
         }
      }
      &__title {
         letter-spacing: -0.2px;
         font-weight: 500;
         @include fl(20, 24.12);
         margin-bottom: 30px;
         @media (min-width: 468px) {
            @include fl(23, 28);
         }
         @media (min-width: 760px) {
            @include fl(26, 32);
            letter-spacing: -0.4px;
         }
         @media (min-width: 1000px) {
            margin-bottom: 40px;
            @include fl(30, 36.18);
         }
         @media (min-width: 1400px) {
            @include fl(36, 43.42);
            margin-bottom: 50px;
         }
      }
      .card-item {
         cursor: pointer;
         background-color: #fff;
         border-radius: 16px;
         padding: 50px 20px 20px;
         display: grid;
         grid-auto-flow: row;
         grid-template-columns: 1fr;
         grid-template-rows: auto 1fr auto;
         position: relative;
         @media (min-width: 375px) {
            padding-top: 22.25px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 8px;
         }
         @media (min-width: 999px) {
            padding-top: 62px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 30px;
            border-radius: 16px;
         }
         transition: all 0.3s ease;
         &:hover {
            overflow: hidden;
            background-color: rgba(250, 248, 246, 0.85);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
            img {
               transform: scale(1.2);
            }
            &:nth-child(6) {
               img {
                  transform: translate(0, 11px) scale(1.2);
               }
            }
         }
         &_discount {
            .card-item {
               &__decor-discount {
                  display: block;
                  position: absolute;
                  top: 20px;
                  right: 20px;
                  background-color: #d32d2c;
                  @include fl(10, 13.62);
                  padding: 4px 6px;
                  border-radius: 4px;
                  color: #fff;
                  @media (min-width: 999px) {
                     top: 30px;
                     right: 30px;
                     padding: 5px 11px;
                     @include fl(12, 16);
                  }
               }
               &__full-price {
                  text-decoration: line-through;
                  margin-right: 12px;
               }
               &__discount-price {
                  display: block;
                  color: #d32d2c;
               }
            }
         }
         &__decor-discount {
            display: none;
         }

         &__image {
            margin-bottom: 42px;
            padding-bottom: calc(191 / 240 * 100%);
            position: relative;
            @media (min-width: 375px) {
               margin-bottom: 15px;
            }
            @media (min-width: 999px) {
               margin-bottom: 51px;
            }
            img {
               transition: all 0.3s ease;
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               object-fit: contain;
            }
         }

         &__body {
            display: grid;
            grid-template-rows: auto 1fr auto;
         }

         &__label {
            font-family: $ff2;
            @include fl(12, 16.34);
            font-weight: 600;
            opacity: 0.7;
            margin-bottom: 10px;
            @media (min-width: 999px) {
               margin-bottom: 12px;
            }
            @media (min-width: 1441px) {
               @include fl(14, 19.07);
            }
            &_purple {
               color: $purpleLabel;
            }
            &_mint {
               color: $mintLabel;
            }
            &_blue {
               color: $blueLabel;
            }
            &_red {
               color: $redLabel;
            }
            &_gold {
               color: $goldLabel;
            }
            &_pink {
               color: $pinkLabel;
            }
            &_green-label {
               color: $greenLabel;
            }
            &_catalog-green {
               color: #71bb5e;
            }
         }

         &__title {
            font-weight: 400;
            @include fl(16, 19.3);
            margin-bottom: 16.3px;
            @media (max-width: 999px) {
               max-height: 39px;
               overflow: hidden;
               text-overflow: ellipsis;
               display: -webkit-box;
               -webkit-line-clamp: 2;
               -webkit-box-orient: vertical;
            }
            @media (min-width: 1000px) {
               @include fl(18, 22);
            }
            @media (min-width: 1441px) {
               margin-bottom: 17px;
               @include fl(20, 24.12);
            }
         }

         &__summ {
            display: flex;
            align-items: center;
            p {
               font-family: $ff2;
               font-weight: 700;
               @include fl(16, 21.79);
               @media (min-width: 999px) {
                  @include fl(20, 27.24);
               }
            }
         }

         &__discount-price {
            display: none;
         }
      }
   }
   .cards__button {
      // background-color: #faf8f6;
      &.regular {
         margin-top: 30px;
         position: relative;
         @media (min-width: 1000px) {
            margin-top: 40px;
         }
         @media (min-width: 1400px) {
            margin-top: 50px;
         }
         .btn {
            @media (min-width: 1000px) {
               @include fl(18, 25);
            }
            @media (min-width: 1400px) {
               @include fl(20, 32.68);
               font-family: $ff2;
            }
         }
         &:after {
            content: "";
            position: absolute;
            top: calc(100% + 60px);
            left: 0;
            width: 100%;
            height: 1px;
            transform: translate(0, -100%);
            background: rgba(0, 0, 0, 0.07);
            @media (min-width: 769px) {
               display: none;
            }
         }
      }
      &.grey {
         padding-left: 20px;
         padding-right: 20px;
         padding-top: 24px;
         padding-bottom: 20px;
         background-color: #fff;
      }
   }
}
