.banner {
   @media (min-width: 1025px) {
      position: relative;
      z-index: 11;
      pointer-events: none;
   }
   .btn {
      color: #000;
      background-color: #fff;
      border-color: #fff;
      display: inline-block;
      // max-width: 166px;
      @media (max-width: 999px) {
         width: auto;
         margin: 0 auto;
         padding-left: 30.5px;
         padding-right: 30.5px;
         height: 50px;
      }
      @media (min-width: 1000px) {
         max-width: 255px;
         min-height: 65px;
      }
   }
   // padding-left: 202px;
   padding-top: 70px;
   @media (min-width: 1000px) {
      padding-top: 100px;
   }
   &__slider {
   }

   &__slide {
      pointer-events: all;
      &_1 {
         .banner {
            &__slide-body {
               background-color: #8172dd;
               svg:first-of-type {
                  @media (min-width: 1000px) {
                     width: 94%;
                     top: calc(-27 / 472 * 100%);
                     right: calc(-694 / 1396 * 100%);
                  }
               }

               svg:last-of-type {
                  display: none;
                  @media (min-width: 1025px) {
                     display: block;
                     position: absolute;
                     top: calc(343 / 472 * 100%);
                     left: calc(476 / 1396 * 100%);
                     // top: 343px;
                  }
               }
            }
            &__content {
               @media (max-width: 999px) {
                  margin-top: -64px;
               }
            }
            &__sublabel {
               display: none;
            }
            &__images {
               @media (min-width: 1000px) {
                  height: 100%;
                  width: calc(970 / 1396 * 100%);
               }
            }

            &__image {
               // padding-bottom: calc(259 / 320 * 100%);
               height: 259px;
               top: -41px;
               @media (min-width: 374px) {
                  top: -24px;
               }
               @media (min-width: 1000px) {
                  // position: absolute;
                  padding-bottom: 0;
                  top: -14px;
                  width: 100%;
                  height: 100%;
               }
            }
         }
      }

      &_2 {
         .banner {
            &__slide-body {
               background-color: #9c91e0;
            }

            &__images {
               @media (min-width: 1000px) {
                  height: calc(406 / 472 * 100%);
                  width: calc(363 / 1396 * 100%);
                  top: 50%;
                  transform: translate(0, -50%);
                  right: 73px;
               }
            }

            &__image {
               // padding-bottom: calc(189 / 320 * 100%);
               height: 189px;
               top: 56%;
               transform: translate(0, -50%);
               @media (min-width: 1000px) {
                  padding-bottom: 0;
                  transform: translate(0, 0);
                  // position: absolute;
                  top: 9px;
                  width: 100%;
                  height: 100%;
               }
            }
         }
      }

      &_3 {
         .banner {
            &__slide-body {
               background-color: #5f9dca;
            }

            &__images {
               @media (min-width: 1000px) {
                  height: calc(252 / 472 * 100%);
                  width: calc(414 / 1396 * 100%);
                  top: 50%;
                  transform: translate(0, -50%);
                  right: 35px;
               }
            }

            &__image {
               // padding-bottom: calc(117 / 320 * 100%);
               height: 117px;
               top: 56%;
               transform: translate(6px, -50%);
               @media (min-width: 1000px) {
                  padding-bottom: 0;
                  transform: translate(0, 0);
                  top: 10px;
                  width: 100%;
                  height: 100%;
               }
            }
         }
      }
      @media (max-width: 375px) {
      }
      @media (max-width: 999px) {
         height: 521px !important;
      }
      @media (min-width: 1000px) {
         padding-bottom: 0;
         padding-top: calc(650 / 1800 * 100%) !important;
      }
      @media (min-width: 1339px) {
         padding-top: calc(500 / 1800 * 100%) !important;
      }
   }

   &__slide-body {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      svg:first-of-type {
         position: absolute;
         width: 100%;
         top: 0;
         right: 0;
         @media (min-width: 1000px) {
            width: 960px;
            height: 1019px;
            top: calc(-224 / 472 * 100%);
            right: calc(-281 / 1396 * 100%);
         }
      }
      .decor-circle {
         @media (min-width: 1000px) {
            left: 826px;
            top: -28px;
            width: 100px;
            height: 100px;
         }
      }
      @media (min-width: 376px) {
         border-radius: 20px;
      }
      @media (max-width: 999px) {
         max-width: 320px;
         max-width: 375px;
      }
      @media (min-width: 1000px) {
         width: 100%;
         border-radius: 24px;
         justify-content: space-between;
         flex-direction: row;
         height: calc(472 / 500 * 100%);
      }
   }

   &__content {
      color: #fff;
      text-align: center;
      order: 2;
      @media (max-width: 999px) {
         padding-left: 20px;
         padding-right: 20px;
      }
      @media (min-width: 1000px) {
         order: 1;
         align-self: center;
         text-align: left;
         flex: 0 0 600px;
         padding-left: 55px;
         padding-bottom: 30px;
         padding-top: 30px;
      }
      @media (min-width: 1339px) {
         flex: 0 0 660px;
         padding-left: 70px;
      }
   }

   &__sublabel {
      @include fl(16, 19.3);
      margin-bottom: 11px;
      // @media (min-width: 569px) {
      //    @include fl(17, 20);
      // }
      // @media (min-width: 769px) {
      //    @include fl(18, 21);
      // }
      @media (min-width: 1000px) {
         @include fl(19, 22);

         margin-bottom: 15px;
      }
      @media (min-width: 1339px) {
         @include fl(20, 24.12);
      }
   }

   &__title {
      font-weight: 500;
      @include fl(24, 28.94);
      margin-bottom: 15px;
      // @media (min-width: 569px) {
      //    @include fl(30, 37);
      // }
      // @media (min-width: 769px) {
      //    @include fl(36, 45);
      // }
      @media (min-width: 1000px) {
         max-width: 660px;
         @include fl(42, 53);
         margin-bottom: 20px;
      }
      @media (min-width: 1339px) {
         @include fl(50, 60.3);
      }
   }

   &__text {
      font-family: $ff2;
      @include fl(14, 19.07);
      opacity: 0.7;
      margin-bottom: 20px;
      // @media (min-width: 569px) {
      //    @include fl(15, 20);
      // }
      // @media (min-width: 769px) {
      //    @include fl(16, 21);
      // }
      @media (min-width: 1000px) {
         max-width: 440px;
         @include fl(17, 22);
         margin-bottom: 30px;
      }
      @media (min-width: 1339px) {
         @include fl(18, 24.51);
      }
   }

   &__images {
      @media (max-width: 374px) {
         height: 240px;
         margin-bottom: 8px;
         margin-bottom: 20px;
      }
      @media (max-width: 999px) {
         order: 1;
         position: relative;
         top: 0;
         left: 0;
         width: 100%;
         height: 300px;
         margin-bottom: -8px;
      }
      @media (min-width: 1000px) {
         order: 2;
         flex: 1 1 auto;
         position: absolute;
         bottom: 0;
         right: 0;
      }
   }

   &__image {
      position: absolute;
      top: 0;
      left: 0;
      @media (max-width: 999px) {
         position: absolute;
         bottom: 0;
         right: 0;
      }
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: contain;
         @media (min-width: 1000px) {
            object-fit: cover;
         }
      }
   }
   .swiper-button-next,
   .swiper-button-prev {
      @media (max-width: 1000px) {
         display: none;
      }
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      &:after {
         color: #000;
         font-size: 16px;
      }
   }
   .swiper-button-next {
      @media (min-width: 1399px) {
         right: calc(168 / 1800 * 100%);
      }
   }
   .swiper-button-prev {
      @media (min-width: 1399px) {
         left: calc(168 / 1800 * 100%);
      }
   }
   .swiper-pagination {
      bottom: 30px !important;
      left: 0;
      span {
         background-color: #fff;
         &:not(:last-child) {
            margin-right: 20px;
         }
      }
      @media (min-width: 1000px) {
         display: none;
      }
   }
}
// ! NEW
