<div class="card-item @@if(context.classCard) {card-item@@classCard}">
	<p class="card-item__decor-discount">@@if (context.discountAmount) {@@discountAmount}</p>
	<div class="card-item__image">
		<picture>
			<source type='image/webp' srcset='@img/gallery/@@image.webp'>
			<img src='@img/gallery/@@image.png' alt='product image'>
		</picture>
	</div>
	<div class="card-item__body">
		<h4 class="card-item__label card-item__label@@classLabel">@@label</h4>
		<h3 class="card-item__title">@@title</h3>
		<div class="card-item__summ">
			<p class="card-item__full-price">@@fullPrice</p>
			<p class="card-item__discount-price">@@if (context.discountPrice) {@@discountPrice}</p>
		</div>
	</div>
</div>