<section class="product-left @@if (context.modify) {product-left_@@modify}">
	<h6 class="hidden-heading">our product</h6>
	<svg width="149" height="150" viewBox="0 0 149 150" fill="none"
		xmlns="http://www.w3.org/2000/svg">
		<path d="M20 149.314C20 77.9479 77.7553 20.094 149 20.094" stroke="#FACC88"
			stroke-width="40" />
	</svg>

	<div class="product-left__image image">
		<picture>
			<source type="image/webp" srcset="@img/gallery/@@image.webp">
			<img src="@img/gallery/@@image.png" alt="product image">
		</picture>
	</div>
</section>