// Text styles
body.profile {
   .pass {
      max-width: 444px;
      &__title {
         @media (min-width: 1441px) {
         }
      }
      .btn {
         background-color: #e1deda;
         border: 1px solid #e1deda;
         height: 50px;
         @include fl(16, 19.3);

         @media (max-width: 440px) {
            max-width: 335px;
         }
         @media (min-width: 441px) {
            max-width: 154px;
         }
      }
      &__items {
         display: flex;
         flex-direction: column;
         row-gap: 25px;
         margin-bottom: 35px;
         @media (min-width: 1000px) {
            row-gap: 30px;
            margin-bottom: 40px;
            padding-left: 3px;
         }
      }
      &__line {
         display: flex;
         flex-direction: column;
      }
      label {
         font-family: $ff2;
         @include fl(14, 19.07);
         opacity: 0.5;
         margin-bottom: 6px;
      }
   }
}
