<form class="pass" action="#">
	<h3 class="pass__title main-title">Change Password</h3>
	<div class="pass__items">
		<div class="pass__line">
			<label for="current-pass">Current Password</label>
			<input id="current-pass" type="password">
		</div>
		<div class="pass__line">
			<label for="new-pass">New Password</label>
			<input id="new-pass" type="password">
		</div>
		<div class="pass__line">
			<label for="confirm-pass">Confirm New Password</label>
			<input id="confirm-pass" type="password">
		</div>
	</div>
	@@include('../_btn.html', {
	'text': 'Save'
	})
</form>