<div class="orders">
	<h3 class="orders__main-title main-title">Orders</h3>
	<div class="spoiler spoiler-block opened">
		<div class="spoiler__preview spoiler-block__preview">
			<div class=" spoiler-block__left">
				<p class="spoiler-block__date">18 May 2020</p>
				<p class="spoiler-block__number">No 67824-6786</p>
			</div>
			<div class="spoiler-block__right">
				<p class="spoiler-block__text spoiler-block__text_op-1">Shipping</p>
				<div class="spoiler-block__arrow"><i class="ic-arrow-down"></i></div>
			</div>

		</div>
		<div class="spoiler__wrapper">
			<div class="spoiler__body spoiler-block__body">
				<div class="spoiler-block__cards">
					<div class="spoiler-block__card">
						<div class='spoiler-block__image spoiler-block__image_mint image'>
							<picture>
								<source type='image/webp' srcset='@img/gallery/09.webp'>
								<img src='@img/gallery/09.png' alt='procut image'>
							</picture>
						</div>
						<div class="spoiler-block__content">
							<div class="spoiler-block__about">
								<h4 class="spoiler-block__label spoiler-block__label_mint">Minerals</h4>
								<h3 class="spoiler-block__title">2 х Standard Process Thymus PMG 90 Tablets
								</h3>
							</div>
							<p class="spoiler-block__price">$84.00</p>
						</div>
					</div>
					<div class="spoiler-block__card">
						<div class='spoiler-block__image spoiler-block__image_pink image'>
							<picture>
								<source type='image/webp' srcset='@img/gallery/23.webp'>
								<img src='@img/gallery/23.png' alt='procut image'>
							</picture>
						</div>
						<div class="spoiler-block__content">
							<div class="spoiler-block__about">
								<h4 class="spoiler-block__label spoiler-block__label_pink">Prenatal Vitamins
								</h4>
								<h3 class="spoiler-block__title">1 x Ortho Molecular Products Adrene Vive
									Capsules</h3>
							</div>
							<p class="spoiler-block__price">$84.00</p>
						</div>
					</div>
					<div class="spoiler-block__card">
						<div class='spoiler-block__image spoiler-block__image_purple image'>
							<picture>
								<source type='image/webp' srcset='@img/gallery/02.webp'>
								<img src='@img/gallery/02.png' alt='procut image'>
							</picture>
						</div>
						<div class="spoiler-block__content">
							<div class="spoiler-block__about">
								<h4 class="spoiler-block__label spoiler-block__label_purple">Vitamins &
									Dietary
									Supplements</h4>
								<h3 class="spoiler-block__title">2 х Standard Process Thymus PMG 90 Tablets
								</h3>
							</div>
							<p class="spoiler-block__price">$84.00</p>
						</div>
					</div>
				</div>
				<div class=" spoiler-block__bottom">
					<div class="spoiler-block__amount">
						<p class=" spoiler-block__text">Order amount:</p>
						<h4 class=" spoiler-block__total-price">$180.90</h4>
					</div>
					@@include('../_btn.html', {
					'text': 'Add to cart'
					})
				</div>
			</div>
		</div>
	</div>
	<div class="spoiler spoiler-block ">
		<div class="spoiler__preview spoiler-block__preview">
			<div class=" spoiler-block__left">
				<p class="spoiler-block__date">18 May 2020</p>
				<p class="spoiler-block__number">No 67824-6786</p>
			</div>
			<div class="spoiler-block__right">
				<p class="spoiler-block__text spoiler-block__text_op-1">Shipping</p>
				<div class="spoiler-block__arrow"><i class="ic-arrow-down"></i></div>
			</div>

		</div>
		<div class="spoiler__wrapper">
			<div class="spoiler__body spoiler-block__body">
				<div class="spoiler-block__cards">
					<div class="spoiler-block__card">
						<div class='spoiler-block__image spoiler-block__image_mint image'>
							<picture>
								<source type='image/webp' srcset='@img/gallery/09.webp'>
								<img src='@img/gallery/09.png' alt='procut image'>
							</picture>
						</div>
						<div class="spoiler-block__content">
							<div class="spoiler-block__about">
								<h4 class="spoiler-block__label spoiler-block__label_mint">Minerals</h4>
								<h3 class="spoiler-block__title">2 х Standard Process Thymus PMG 90 Tablets
								</h3>
							</div>
							<p class="spoiler-block__price">$84.00</p>
						</div>
					</div>
					<div class="spoiler-block__card">
						<div class='spoiler-block__image spoiler-block__image_pink image'>
							<picture>
								<source type='image/webp' srcset='@img/gallery/23.webp'>
								<img src='@img/gallery/23.png' alt='procut image'>
							</picture>
						</div>
						<div class="spoiler-block__content">
							<div class="spoiler-block__about">
								<h4 class="spoiler-block__label spoiler-block__label_pink">Prenatal Vitamins
								</h4>
								<h3 class="spoiler-block__title">1 x Ortho Molecular Products Adrene Vive
									Capsules</h3>
							</div>
							<p class="spoiler-block__price">$84.00</p>
						</div>
					</div>
				</div>
				<div class=" spoiler-block__bottom">
					<div class="spoiler-block__amount">
						<p class=" spoiler-block__text">Order amount:</p>
						<h4 class=" spoiler-block__total-price">$180.90</h4>
					</div>
					@@include('../_btn.html', {
					'text': 'Add to cart'
					})
				</div>
			</div>
		</div>
	</div>
	<div class="spoiler spoiler-block ">
		<div class="spoiler__preview spoiler-block__preview">
			<div class=" spoiler-block__left">
				<p class="spoiler-block__date">18 May 2020</p>
				<p class="spoiler-block__number">No 67824-6786</p>
			</div>
			<div class="spoiler-block__right">
				<p class="spoiler-block__text spoiler-block__text_op-1">Shipping</p>
				<div class="spoiler-block__arrow"><i class="ic-arrow-down"></i></div>
			</div>

		</div>
		<div class="spoiler__wrapper">
			<div class="spoiler__body spoiler-block__body">
				<div class="spoiler-block__cards">
					<div class="spoiler-block__card">
						<div class='spoiler-block__image spoiler-block__image_mint image'>
							<picture>
								<source type='image/webp' srcset='@img/gallery/09.webp'>
								<img src='@img/gallery/09.png' alt='procut image'>
							</picture>
						</div>
						<div class="spoiler-block__content">
							<div class="spoiler-block__about">
								<h4 class="spoiler-block__label spoiler-block__label_mint">Minerals</h4>
								<h3 class="spoiler-block__title">2 х Standard Process Thymus PMG 90 Tablets
								</h3>
							</div>
							<p class="spoiler-block__price">$84.00</p>
						</div>
					</div>
					<div class="spoiler-block__card">
						<div class='spoiler-block__image spoiler-block__image_pink image'>
							<picture>
								<source type='image/webp' srcset='@img/gallery/23.webp'>
								<img src='@img/gallery/23.png' alt='procut image'>
							</picture>
						</div>
						<div class="spoiler-block__content">
							<div class="spoiler-block__about">
								<h4 class="spoiler-block__label spoiler-block__label_pink">Prenatal Vitamins
								</h4>
								<h3 class="spoiler-block__title">1 x Ortho Molecular Products Adrene Vive
									Capsules</h3>
							</div>
							<p class="spoiler-block__price">$84.00</p>
						</div>
					</div>
				</div>
				<div class=" spoiler-block__bottom">
					<div class="spoiler-block__amount">
						<p class=" spoiler-block__text">Order amount:</p>
						<h4 class=" spoiler-block__total-price">$180.90</h4>
					</div>
					@@include('../_btn.html', {
					'text': 'Add to cart'
					})
				</div>
			</div>
		</div>
	</div>
</div>