<div class="subscriptions">
	<h3 class="subscriptions__main-title main-title">Subscriptions</h3>
	<div class="subscriptions__items">
		<div class="subscriptions__card">
			<div class='subscriptions__image image subscriptions__image_mint'>
				<picture>
					<source type='image/webp' srcset='@img/gallery/09.webp'>
					<img src='@img/gallery/09.png' alt='product image'>
				</picture>
			</div>
			<div class="subscriptions__content">
				<div class="subscriptions__top">
					<div class="subscriptions__names">
						<h5 class="subscriptions__label subscriptions__label_mint">Minerals</h5>
						<h3 class="subscriptions__title">2 х Standard Process Thymus PMG 90 Tablets</h3>
					</div>
					<p class="subscriptions__price">$84.00</p>
				</div>
				<div class="subscriptions__bottom">
					<div class="subscriptions__about">
						<p class="subscriptions__subtext">Shipment every 60 days</p>
						<p class="subscriptions__text">Next delivery: 28th Apr 2020</p>
					</div>
					<button class="subscriptions__button">Unsubscribe</button>
				</div>
			</div>
		</div>
		<div class="subscriptions__card">
			<div class='subscriptions__image image subscriptions__image_pink'>
				<picture>
					<source type='image/webp' srcset='@img/gallery/23.webp'>
					<img src='@img/gallery/23.png' alt='product image'>
				</picture>
			</div>
			<div class="subscriptions__content">
				<div class="subscriptions__top">
					<div class="subscriptions__names">
						<h5 class="subscriptions__label subscriptions__label_pink">Prenatal Vitamins</h5>
						<h3 class="subscriptions__title">1 x Ortho Molecular Products Adrene Vive Capsules
						</h3>
					</div>
					<p class="subscriptions__price">$31.26</p>
				</div>
				<div class="subscriptions__bottom">
					<div class="subscriptions__about">
						<p class="subscriptions__subtext">Shipment every 30 days</p>
						<p class="subscriptions__text">Next shipment: 19th Apr 2020</p>
					</div>
					<button class="subscriptions__button">Unsubscribe</button>
				</div>
			</div>
		</div>
		<div class="subscriptions__card">
			<div class='subscriptions__image image subscriptions__image_purple'>
				<picture>
					<source type='image/webp' srcset='@img/gallery/02.webp'>
					<img src='@img/gallery/02.png' alt='product image'>
				</picture>
			</div>
			<div class="subscriptions__content">
				<div class="subscriptions__top">
					<div class="subscriptions__names">
						<h5 class="subscriptions__label subscriptions__label_purple">Vitamins & Dietary
							Supplements</h5>
						<h3 class="subscriptions__title">3 x Metagenics - 500-C Methoxyflavone</h3>
					</div>
					<p class="subscriptions__price">$32.45</p>
				</div>
				<div class="subscriptions__bottom">
					<div class="subscriptions__about">
						<p class="subscriptions__subtext">Shipment every 40 days</p>
						<p class="subscriptions__text">Next delivery: 15th Apr 2020</p>
					</div>
					<button class="subscriptions__button">Unsubscribe</button>
				</div>
			</div>
		</div>
	</div>
</div>