<header class="header active-cart">
	<div class="header__container">
		<div class="header__body">
			<div class="header__burger burger">
				<div class="burger__wrapper">
					<span></span>
				</div>
			</div>
			<a class="header__logo" href="index.html"><i class="ic-logo"><span
						class="path1"></span><span class="path2"></span><span
						class="path3"></span></i></a>
			<ul class="header__action header-action">
				<li class="header-action__item">
					<a id="menu-profile" href="profile.html">
						<i class="ic-profile"></i>
					</a>
				</li>
				<li id="cart-circle" class="header-action__item">
					<i class="ic-cart"></i>
				</li>
				<li class="header-action__item">@@include('../_btn.html', {'text': 'Take the quiz'})
				</li>
			</ul>
			<div class="header__aside header-aside header-aside_1">
				<div class="header-aside__body">
					<nav class="header-aside__menu first-menu menu">
						<ul class="first-menu__list menu__list">
							<li id="menu-shop">
								<p class="menu__title">Shop</p>
								<i class="ic-arrow-next"></i>
							</li>
							<li id="menu-information">
								<p class="menu__title">Information</p>
								<i class="ic-arrow-next"></i>
							</li>
							<li id="menu-quiz">
								<p class="menu__title">Take the quiz</p>
							</li>
						</ul>
					</nav>
					<div class="header-aside__content header-aside-content">
						<a href="mailto:support@medstogo.com"
							class="header-aside-content__text">support@medstogo.com</a>
						<h5 class="header-aside-content__copy">© 2020 Vitamins.com / All rights reserved
						</h5>
					</div>
				</div>
			</div>
			<div class="header__aside header-aside header-aside_2">
				<div class="header-aside__body">
					<div class="header-aside__top">
						<i class="ic-arrow-back"></i>
						<a href="catalog.html" class="header-aside__link">Shop</a>
					</div>
					<nav class="header-aside__menu second-menu menu">
						<ul class="second-menu__list menu__list">
							<li class="menu__title">
								<a href="catalog.html">All categories</a>
							</li>
							<li class="menu__title">
								<a href="catalog.html">Vitamins & Dietary Supplements</a>
							</li>
							<li class="menu__title">
								<a href="catalog.html">Weight Loss</a>
							</li>
							<li class="menu__title">
								<a href="catalog.html">Minerals</a>
							</li>
							<li class="menu__title">
								<a href="catalog.html">Antioxidants</a>
							</li>
							<li class="menu__title">
								<a href="catalog.html">Probiotics</a>
							</li>
							<li class="menu__title">
								<a href="catalog.html">Pain Relief</a>
							</li>
							<li class="menu__title">
								<a href="catalog.html">Prenatal Vitamins</a>
							</li>
							<li class="menu__title">
								<a href="catalog.html">Sale%</a>
							</li>
						</ul>
					</nav>
					<div class="header-aside__content header-aside-content">
						<h5 class="header-aside-content__subtitle">Don’t know what vitamins your body
							needs?</h5>
						<p class="header-aside-content__text">
							Answer a few simple questions and automatically
							get a personalazed list of vitamins in minutes
						</p>
						@@include('../_btn.html', {'text': 'Take the quiz'})
					</div>
				</div>
			</div>
			<div class="header__aside header-aside header-aside_3">
				<div class="header-aside__body">
					<div class="header-aside__top">
						<i class="ic-arrow-back"></i>
						<a href="subscriptions.html" class="header-aside__link">Information</a>
					</div>
					<nav class="header-aside__menu third-menu menu">
						<ul class="third-menu__list menu__list">
							<li class="menu__title">
								<a href="subscriptions.html">Subscription Cycle & Billing</a>
							</li>
							<li class="menu__title">
								<a href="subscriptions.html">Terms & Conditions</a>
							</li>
							<li class="menu__title">
								<a href="subscriptions.html">Privacy Policy</a>
							</li>
							<li class="menu__title">
								<a href="subscriptions.html">Shipping & Delivery</a>
							</li>
							<li class="menu__title">
								<a href="subscriptions.html">Return Policy</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="header__aside header-aside header-aside_4">
				<div class="header-aside__body">
					<div class="header-aside__top">
						<i class="ic-arrow-back"></i>
						<a href="profile.html" class="header-aside__link">Profile</a>
					</div>
					<nav class="header-aside__menu second-menu menu">
						<ul class="second-menu__list menu__list">
							<li class="menu__title">
								<a href="profile.html">Subscriptions</a>
							</li>
							<li class="menu__title">
								<a href="profile.html">Orders</a>
							</li>
							<li class="menu__title">
								<a href="profile.html">Account Overview</a>
							</li>
							<li class="menu__title">
								<a href="profile.html">Payment methods</a>
							</li>
							<li class="menu__title">
								<a href="profile.html">Change Password</a>
							</li>
							<li class="menu__title">
								<a href="profile.html">Sign Out</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>